@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


.container {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}

.sidenav-content {
  width: 100%;
  display: absolute;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  color: lightblue;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  position: fixed;
  left: 0;
  background-color: navy;
  width: 13%;
}

.sideTit{
  text-align: center;
}

.dashIcon{
  transform: scale(1.5);
}

.expansDesp{
  color: lightblue;
  width: 100%;
  background-color: transparent;
}

.sideBtn{
  background-color: transparent;
  color: lightblue;
  width: 100%;
}

.aPerfil{
  color: lightblue;
  position: absolute;
  bottom: 6%;
}

.aLogout{
  color: lightblue;
  position: absolute;
  bottom: 2%;
  left: 1%;
}

.backIcon{
    transform: scale(0.7);
}

.backBtn{
    position: static;
    background-color: transparent;
    width: 100%;
    text-align: center;
    height: 5%;
}

.catBtn{
    position: static;
    background-color: transparent;
    width: 100%;
    text-align: lcenter;
    height: 5%;
}