 <div class="container custom-container" id="mainDiv">
     <div class="centerContainer">
         <h1>Expenses App</h1>
         <br>
         <br><br>
        <div class="col-md-12">
            <div class="form-group">
                <button mat-raised-button color="primary" class="mainBtn" (click)=btnClickLogin()>Login</button>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" class="mainBtn" (click)=btnClickRegisto()>Regista-te</button>
            </div>
        </div>
    </div>
</div>

