
#mainDiv{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}


.centerContainer{
    height: 50%;
    top: 20%;
    left: 35%;
    text-align: center;
    position: absolute;
    background-color: navy;
    width: 30%;
    border-radius: 5%;
    color: lightblue;

}


.mainBtn{
    width: 30%;
    line-height: 300%;

}

