<table>
    <tr>
        <td>
         <ngx-charts-line-chart 
         [results]="productSalesMulti" 
         [view]="view"
         [gradient]="gradient"
         [xAxis]="showXAxis"
         [yAxis]="showYAxis"
         [legend]="showLegend"
         [showXAxisLabel]="showXAxisLabel"
         [showYAxisLabel]="showYAxisLabel"
         [xAxisLabel]="xAxisLabel"
         [yAxisLabel]="yAxisLabel"
         (select)="onSelect($event)">
        </ngx-charts-line-chart>
    
     </td>
    </tr>
    
    </table>