<br>
<div style="text-align: center;">
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Adicionar Despesa</button>
</div>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>
            <button type="button" class="btn btn-info" (click)="openModal(template,product)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(product)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{modalTitle}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text" class="form-control"  placeholder="Enter Product Name" [formControl]="name">
        <small *ngIf="name.errors?.required && showError"><b> *Name is required.</b></small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Product Description</label>
        <input type="text" class="form-control" placeholder="Enter Product Description" [formControl]="description">
        <small *ngIf="description.errors?.required && showError"><b> *Description is required.</b></small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Product Price</label>
        <input type="number" class="form-control" placeholder="Enter Product Price" [formControl]="price">
        <small *ngIf="price.errors?.required && showError"><b> *Price is required.</b></small>
    </div> 
    <button type="button" class="btn btn-primary" (click)="save()">{{btnTitle}}</button> 
  </div>
</ng-template>
