@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Serif+4:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@700&family=Source+Serif+4:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

.container {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}

.sidenav-content {
  font-family: 'Andada Pro', sans-serif;
  position: absolute;
  width: 99%;
  top: 1%;
  height: 100%;
  box-shadow: 0px 0px 1px 0px  black;
  background-color: #d6f1fc;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;

}

.sidenav {
  color: white;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  position: fixed;
  left: 0;
  background: linear-gradient(#001b48, #02457a);
  width: 13%;
  font-family: 'Andada Pro', sans-serif;
}

.sideTit{
  text-align: center;
}

.dashIcon{
  transform: scale(1.5);
}

.expansDesp{
  color: whitesmoke;
  width: 100%;
  background-color: transparent;
  border-radius: 2%;
  background-color: solid navy;
  line-height: 25px;
}
.expansDesp2{
  top: 3%;
  color: whitesmoke;
  width: 100%;
  background-color: transparent;
  border-radius: 2%;
  background-color: solid navy;
  line-height: 25px;
}

.sideBtn{
  background-color: transparent;
  color: lightblue;
  width: 100%;
}

.aPerfil{
  color: lightblue;
  position: absolute;
  bottom: 14%;
  left: 1%;
}

.aLogout{
  color: lightblue;
  position: absolute;
  bottom: 10%;
  left: 1%;
}

.backIcon{
    transform: scale(0.7);
    vertical-align: bottom;
}

.backBtn{
    position: static;
    background-color: transparent;
    width: 100%;
    text-align: left;
    height: 5%;
}

.catBtn{
    position: static;
    background-color: transparent;
    width: 100%;
    text-align: left;
    height: 5%;
    
 
}
.img{
  position: fixed;
  top:91%;
  max-width: 100%;
  height: 10.65%;
  left: 0;
}