@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.example-spacer {
  
  flex: 1 1 auto;
  }
.toolb{
  position: absolute;
  width: 100%;
}

.mainDiv{
    max-width: 100%;
    width: 100%;
    position: absolute;
}

body{
  background-repeat: round;
  background-image: url("../../assets/images/image.jpg");
}


.DashBGraf{
  padding-right: 5%;
  padding-top: 2%;
  width: 30%;
}
.Hgraf{
  float: bottom;
  position: relative;
}