<html>
<head>

</head>

<body>
<mat-drawer-container class="container">

<!------------------------Content lado esquerdo------------------------------>
    <mat-drawer class="sidenav" mode="side" opened>
      
        <h2 class="sideTit">
          <mat-icon class="dashIcon">dashboard</mat-icon>
          Dasboard
        </h2>
        <mat-divider></mat-divider>
        <br>
          
        
        <!--------------Butao Despesas---------->
        <mat-expansion-panel class="expansDesp" hideToggle>
            <mat-expansion-panel-header>
              Despesas
            </mat-expansion-panel-header>
            <button mat-button class="sideBtn">Ver</button>
            <button mat-button class="sideBtn">Editar</button>
        </mat-expansion-panel>

        <!--------------Butao Expansivel Categorias---------->
        <mat-expansion-panel class="expansDesp" hideToggle>
            <mat-expansion-panel-header>
              Categorias
            </mat-expansion-panel-header>
            <button mat-button class="sideBtn" (click)="btnClickCategorias()">Ver</button>
            <button mat-button class="sideBtn">Editar</button>
        </mat-expansion-panel>

        <!-------------Parte de baixo da side nav----------->

        <a href="" class="aPerfil"><mat-icon>person</mat-icon>Perfil</a>
        <a href="" class="aLogout"><mat-icon>logout</mat-icon>Logout</a>
        
    </mat-drawer>


<!-----------------------Content Lado direito-------------------------->
    <div class="sidenav-content">
        <mat-tab-group mat-align-tabs="left" class="mainContent">
            <mat-tab label="Distribuição de Despesas"> Content 1 












            </mat-tab>
            <mat-tab label="Evolução das Despesas"> Content 2 </mat-tab>
            <mat-tab label="Gasto Mensal Esperado"> Content 3 </mat-tab>
            <mat-tab label="Percentagem de Utilização"> Content 4 </mat-tab>
            <mat-tab label="Previsões"> Content 5 </mat-tab>
          </mat-tab-group>
    </div>
  
  </mat-drawer-container>
</body>
</html>